@model IEnumerable<Homework_SkillTree.ViewModel.CategoryInputViewModel>
@using Homework_SkillTree.Models;

@*@{
    List<CategoryInputViewModel> categoryListViewModel = (List<CategoryInputViewModel>)ViewBag.Category;
}*@

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">

            <tr>
                <th>#</th>
                <th>@Html.DisplayNameFor(x=>x.Categories)</th>
                <th>@Html.DisplayNameFor(x=>x.Date)</th>
                <th>@Html.DisplayNameFor(x=>x.Money)</th>
            </tr>
            @{
                var i = 1;
                foreach (var item in Model)
                {
                    <tr>
                        <td>@(i++)</td>
                        <td class="@item.Categories">@Html.DisplayFor(x=>item.Categories ,"_Categoriescolor")</td>
                        <td class="@item.Date">@Html.DisplayFor(x=>item.Date,"_DateTime")</td>
                        <td class="@item.Money">@Html.DisplayFor(x=>item.Money)</td>
                    </tr>
                }
            }
            
        </table>
    </div>
</div>
